[Unit]
Description=Shipping Service

[Service]
User=roboshop
WorkingDirectory=/app
Environment=CART_ENDPOINT={{ CART_HOST }}:8080
Environment=DB_HOST={{ MYSQL_HOST }}
ExecStart=/usr/bin/java -jar shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
